	{% extends "base.html" %} 

 {% block title %} Add {% endblock %}

 {% block main %}
  {% if messages %}
{% for message in messages %}
      <p><font size="2px" color="red"> {{ message }}</font></p>
        {% endfor %}
 {% endif %} 
 <form action="{% url 'admission' %}" method="post">
 {% csrf_token %}
<table class = "table" >
 {{ form.as_table }}
 <script>
 $(function () {
	$('#id_entrance_schedule').datetimepicker({
		format : 'Y-m-d H:i'
	});
	});
 $(function () {
	$('#id_exit_schedule').datetimepicker({
		format : 'Y-m-d H:i'
	});
	});
	</script>
 </table>
 
 
 <button type="submit" class="ui button" name="next" value="confirm">確認へ</button>
 </form>
 {% endblock %} 