{% extends "base.html" %}

{% block title %} 入館情報確認画面 {% endblock %}

{% block main %}

<ul>
 <form  method="post">
 {% csrf_token %}
<input type = "hidden" name = "application_number" value={{application_number}} required id="id_application_number">
 

<table>
{{ form.as_table }}
</table>
{% if user.approval %}
<button class="ui button grey" type="submit" name="next" value="change">修正</button>
<button class="ui button orange" type="submit" name="next" value="delete">削除</button>
{% endif %}
 </form>
 
{% endblock %} 
