{% extends "base.html" %}

{% block title %} 入館情報確認画面 {% endblock %}

{% block main %}

<ul>
 <form  method="post">
 {% csrf_token %}
<input type = "hidden" name = "application_number" value={{application_number}} required id="id_application_number">
 

<table>
{{ form.as_table }}
</table>

<form action="" method="POST" name="form_change_choice_text" id="form_change_choice_text">
            {% csrf_token %}
           {{ password_form.non_field_errors }}
              {{ password_form.as_p }}
{% if messages %}
{% for message in messages %}
 		<p><font color ="red"> {{message}} </font></p>
 		{% endfor %}
{% endif %}                  

<button class="ui button grey" type="submit" name="next" value="back_show">戻る</button>
<button class="ui button orange" type="submit" name="next" value="confirm">確認</button>
 </form>

 
{% endblock %} 
