{% load static %}
<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>入館情報確認画面</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/original_style.css' %}">
</head>
<body>
<div class="container">
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	  <a href="#" class="navbar-brand">データセンター</a>

	  <div class="collapse navbar-collapse" id="navmenu2a">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="{% url 'admission' %}">入館申請</a>
	      <a class="nav-item nav-link" href="{% url 'admission' %}">修正・削除</a>
	      <a class="nav-item nav-link" href="{% url 'entrance' %}">入館・退館</a>
	    </div>
	  </div>
	</nav>
	<br />
	
	<form  method="post">
	{% csrf_token %}
	<input type = "hidden" name = "application_number" value={{application_number}} required id="id_application_number">	
	<table class="table table-hover">
		<tr>
			<td>組織名</td>
			<td>{{ user.organization_name }}</td>
		</tr>
		<tr>
			<td>氏名</td>
			<td>{{ user.user_name }}</td>
		</tr>
		<tr>
			<td>電話番号</td>
			<td>{{ user.phone_number }}</td>
		</tr>
		<tr>
			<td>メールアドレス</td>
			<td>{{ user.mail_address }}</td>
		</tr>
		<tr>
			<td>入館予定日時</td>
			<td>{{ user.entrance_schedule }}</td>
		</tr>
		<tr>
			<td>退館予定日時</td>
			<td>{{ user.exit_schedule }}</td>
		</tr>
		<tr>
			<td>入館目的</td><td>{{ user.purpose_of_admission }}</td>
		</tr>
	</table>
	<table class="table table-borderless">
	<tr>
	{% if user.achivement_entrance %}
		<td><button type="button" class="btn btn-outline-success" disabled>入館</botton></td>
    {% else %}		
		<td><button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#testModal">入館</button></td>
	{% endif %}

	{% if user.achivement_exit %}
		<td><button type="button" class="btn btn-outline-primary" disabled>退館</botton></td>
	{% elif user.achivement_entrance  %}
		<td><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#testModal2">退館</button></td>
	{% else %}	
		<td><button type="button" class="btn btn-outline-primary"disabled >退館</botton></td>
	{% endif %}
		<td><button type="submit" class="btn btn-outline-secondary">戻る</button></td>
	</tr>
	</table>       	
	<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4><div class="modal-title" id="myModalLabel">入館確認</div></h4>
				</div>
				<div class="modal-body">
					<label>入館しますか？</label>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-dismiss="modal">閉じる</button>
					<button class="btn btn-outline-success" type="submit" name="next" value="entrance_time_save">入館</button>
				                
				</div>
			</div>
		</div>
	</div>	
	<div class="modal fade" id="testModal2" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4><div class="modal-title" id="myModalLabel">退館確認</div></h4>
	            </div>
	            <div class="modal-body">
	                <label>退館しますか？</label>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-light" data-dismiss="modal">閉じる</button>
	            	  <button class="btn btn-outline-primary" type="submit" name="next" value="exit_time_save">退館</button>
	                
	            </div>
	        </div>
	    </div>
	</div>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</form>
 
</div>
</body>
</html>