{% extends "base.html" %}

{% block title %} 入館申請番号入力画面 {% endblock %}

{% block main %}
<form class="ui form" action="{% url 'entrance' %}" method="post">
{% csrf_token %}

<div class="container" style="text-align:center;font-size:20px;">
<p >入館申請番号を入力してください</p>
<div>

{{ form }}

<button type="submit" class="btn btn-primary">確認</botton> 
</div>

<br />
 {% if messages %}
{% for message in messages %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
 {% endif %} 
 </div>

</form>

{% endblock %} 