{% extends "base.html" %}

{% block title %} 入館申請リスト {% endblock %}

{% block main %}

<form action="{% url 'schedulelist'%}" method="post">
{% csrf_token %}
<table border="1" width="500" class="table">
	<thead class="thead-dark">
		<tr>		
		<th colspan = "2">申請日時</th>
	</tr>
	<tbody>
		<tr>		
		<th>入館予定日時</th>
 		<th>退館予定日時</th>
	</tr>
	</thead>
{% for user in schedule_list %}
	{% if user.approval == True %}
	 <td scope="row">{{ user.entrance_schedule }}</td>
	 <td>{{ user.exit_schedule }}</td>
	 {% endif %}
	</tr>
{% endfor %}
</tbody>
</table>
{{ date.year }} 
本日は{% now "F" %}{% now "j" %}日({% now "l" %})です<br><br>

<a href="{% url 'menu' %}"><button type="button" class="btn btn-light">最初に戻る</button></a>

{% endblock %}