{% extends "base.html" %}

{% block title %} 入館申請リスト {% endblock %}

{% block main %}
<form action="{% url 'list'%}" method="post">
{% csrf_token %}
<table class="table">
	<thead class="thead-dark">
		<tr>		
		<th>入館申請番号</th>
 		<th>名前</th>
		<th>企業名</th>
		<th>承認可否</th>
	</tr>
	</thead>
	<tbody>
{% for user in object_list %}
	<tr>
	 <td scope="row">{{ user.application_number }}</td>
	 <td><a href="{% url 'showwithID' user.id %}">{{ user.user_name }}</a></td>
	 <td>{{ user.organization_name }}</td>
	 <td>{% if user.approval == False %}未承認{% endif %}
{% if user.approval == True %}承認済み{% endif %}</td>
	</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
