{% extends "base.html" %}

{% block title %} 個別リスト {% endblock %}

{% block main %}

<ul>
 
<dl>
<dt>入館申請番号</dt><dd>{{ user.application_number }}</dd>
<dt>氏名</dt><dd>{{ user.user_name }}</dd>
<dt>企業名</dt><dd>{{ user.organization_name }}</dd>
<dt>電話番号</dt><dd>{{ user.phone_number }}</dd>
<dt>メールアドレス</dt><dd>{{ user.mail_address }}</dd>
<dt>入館予定</dt><dd>{{ user.entrance_schedule }}</dd>
<dt>退館予定</dt><dd>{{ user.exit_schedule }}</dd>
<dt>入館目的</dt><dd>{{ user.purpose_of_admission }}</dd>
<dt>パスワード</dt><dd>{{ user.password }}</dd>
<dt>承認可否</dt><dd>{% if user.approval == False %}未承認{% endif %}
{% if user.approval == True %}承認済み{% endif %}</dd>
<dt>入館実績</dt><dd>{{ user.achivement_entrance }}</dd>
<dt>退館実績</dt><dd>{{ user.achivement_exit }}</dd>
</dl>

<ul> 
 {% if user.approval == False %}
 このユーザーは未承認です。承認しますか？<br>
<form action = "{% url 'UserStatusChange' user.id %}" method="post">
	 	{% csrf_token %}
	 	<input type="submit" name="UserStatusChange" value="承認">{{post.UserStatusChange}}</form>
 {% endif %}
</ul>
 
</ul>
<li><a href="{% url 'list' %}">一覧へ戻る</a></li>
{% endblock %} 
