{% extends "base.html" %}

{% block title %} 個別リスト {% endblock %}

{% block main %}
 
<table class="table table-hover">
	<tr>
		<td>入館申請番号</td>
		<td>{{ user.application_number }}</td>
	</tr>
	<tr>
		<td>氏名</td>
		<td>{{ user.user_name }}</td>
	</tr>
	<tr>
		<td>企業名</td>
		<td>{{ user.organization_name }}</td>
	</tr>
	<tr>
		<td>電話番号</td>
		<td>{{ user.phone_number }}</td>
	</tr>
	<tr>
		<td>メールアドレス</td>
		<td>{{ user.mail_address }}</td>
	</tr>
	<tr>
		<td>入館予定</td>
		<td>{{ user.entrance_schedule }}</td>
	</tr>
	<tr>
		<td>退館予定</td>
		<td>{{ user.exit_schedule }}</td>
	</tr>
	<tr>
		<td>入館目的</td>
		<td>{{ user.purpose_of_admission }}</td>
	</tr>
	<tr>
		<td>パスワード</td>
		<td>{{ user.password }}</td>
	</tr>
	<tr>
		<td>承認可否</td>
		<td>
			{% if user.approval == False %}未承認{% endif %}
			{% if user.approval == True %}承認済み{% endif %}
		</td>
	</tr>
	<tr>
		<td>入館実績</td>
		<td>{{ user.achivement_entrance }}</td>
	</tr>
	<tr>
		<td>退館実績</td>
		<td>{{ user.achivement_exit }}</td>
	</tr>
</table>

<ul> 
 {% if user.approval == False %}
 このユーザーは未承認です。承認しますか？<br>
 <div style="display:inline-flex">
<form action = "{% url 'UserStatusChange' user.id %}" method="post">
	 	{% csrf_token %}
	 	<input type="submit" name="UserStatusChange" value="承認">{{post.UserStatusChange}}</form>
	 	<form action="{% url 'UserRejectChange' user.id%}" method="post">
 {% csrf_token %}
 <input type="submit" value="拒否" onclick='return confirm("本当に拒否してよろしいですか？");'/></form>
 </div>
 {% endif %}
</ul>
 
</ul>
<center>
<a href="{% url 'list' %}"><button type="submit" class="btn btn-outline-primary" name="next" value="confirm">戻る</button></a>
 </center>
{% endblock %} 
