{% load static %}
<!doctype html>
<html lang="ja">
<head>

	<script
		src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous">
	</script>

	<link 
		rel="stylesheet" 
		href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.19/jquery.datetimepicker.css" 
		integrity="sha256-kIxwtDqhOVbQysWu0OpR9QfijdXCfqvXgAUJuv7Uxmg=" 
		crossorigin="anonymous" />
	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.19/jquery.datetimepicker.full.min.js" 
		integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" 
		crossorigin="anonymous">
	</script>
  
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} 入館申請 メインページ {% endblock %}</title>
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/original_style.css' %}">
</head>
<body>
<div class="container">
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	  <a href="#" class="navbar-brand">データセンター</a>

	  <div class="collapse navbar-collapse" id="navmenu2a">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="{% url 'admission' %}">入館申請</a>
	      <a class="nav-item nav-link" href="{% url 'admission' %}">修正・削除</a>
	      <a class="nav-item nav-link" href="{% url 'entrance' %}">入館・退館</a>
	    </div>
	  </div>
	</nav>
	<br />

{% block main %}
{% endblock %}
</div>
</body>
</html>